body {

    background-color: rgb(24, 36, 38);
}

.header {
    display: flex;
    width: 95%;
    height: 100%;
    margin: auto;
    margin-top: 2%;
    justify-content: center;
    box-shadow: inset 2px 2px 5px rgb(11, 29, 23), 2px 2px 5px rgb(11, 29, 23);
}

.inside_body {
    display: block;
    width: 70%;
    height: 100%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: center;
    box-shadow: inset 2px 2px 5px rgb(11, 29, 23), 2px 2px 5px rgb(11, 29, 23);
}

.head_inside {
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 1%;
    margin-bottom: 1%;
    
}

.inside_body_image {
    display: block;
    width: 85%;
    height: 95%;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 2%;
    justify-content: center;
    box-shadow: 0 0 5px 5px rgb(11, 29, 23);
}

.start_button {
    display: block;
    width: 85%;
    height: 30px;
    justify-content: center;
    margin-bottom: 1%;
    background-color: rgb(8, 27, 27);
}

.start_button_1 {
    display: block;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: rgb(8, 27, 27);
}

.start_button_1:hover {
    background-color: rgb(27, 52, 51);
}

.global_text {
    color: rgb(179, 183, 170);
}

.clean_a {
    text-decoration: none;
}

.form {
    display: block;
    width: 95%;
    height: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.misstake_button_green {
    display: block;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: green;
}

.misstake_button_red {
    display: block;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: rgb(152, 40, 40);
}

.misstake_button {
    display: block;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: rgb(8, 27, 27);
}

.misstake {
    color: red;
}

.label {
    display: block;
    justify-content: center;
    margin-top: 1%;
}

.input {
    display: block;
    width: 95%;
    height: 30px;
    margin-bottom: 1%;
}