{% extends 'base.html' %}

{% block title %}
    <title>{{ context.title }}</title>
{% endblock %}

{% block header %}
    <div class="header">
        <h2 class="global_text">Python is everywhere and for everyone</h2>
    </div>
{% endblock %}


{% block content %}
    
    {% if context %}
        {% if context.question %}
            <div class="head_inside">
                <h3 class="global_text">{{ context.question.question }}</h3>
            </div>
            <div class="head_inside">
                <form class="form" action="{{ url_for('test_quest') }}" method="post">
                
                    <a class="clean_a" href="{{ url_for('test_quest') }}" >
                        <button class="start_button_1 global_text" 
                                value='{{ context.question.a }}' 
                                name="answer"><p>{{ context.question.a }}</p>
                        </button>
                    </a>
                    <br>
                
                    <a class="clean_a" href="{{ url_for('test_quest') }}" >
                        <button class="start_button_1 global_text" 
                                value='{{ context.question.b }}' 
                                name="answer"><p>{{ context.question.b }}</p>
                        </button>
                    </a>
                    <br>
                    <a class="clean_a" href="{{ url_for('test_quest') }}" >
                        <button class="start_button_1 global_text" 
                                value='{{ context.question.c }}' 
                                name="answer"><p>{{ context.question.c }}</p>
                        </button>
                    </a>
                    <br>
                    {% if context.question.d %}
                        <a class="clean_a" href="{{ url_for('test_quest') }}" >
                            <button class="start_button_1 global_text" 
                                    value='{{ context.question.d }}' 
                                    name="answer"><p>{{ context.question.d }}</p>
                            </button>
                        </a>
                        <br>
                        {% if context.question.e %}
                            <a class="clean_a" href="{{ url_for('test_quest') }}" >
                                <button class="start_button_1 global_text" 
                                    value='{{ context.question.e }}' 
                                    name="answer"><p>{{ context.question.e }}</p>
                                </button>
                            </a>
                            <br>
                        {% endif %}
                    {% endif %}
                    
                </form>
            </div>
            <div class="head_inside">
                <a class="start_button clean_a" href="{{ url_for('index') }}"><button class="start_button_1 global_text">На главную</button></a>
                <br>
            </div>
        {% else %}
            <div class="head_inside">
                <h3 class="global_text">
                    Тест по знанию языка Python, для сдачи теста ван нужно ответить на 10 вопросов без единой ошибки
                </h3>
            </div>
    
            <div class="head_inside">
                <a class="start_button clean_a" href="{{ url_for(context.url) }}">
                    <button class="start_button_1 global_text">Начать</button></a>
                <br>
            </div>
            <div class="head_inside">
                <a class="start_button clean_a" href="{{ url_for('index') }}"><button class="start_button_1 global_text">назад</button></a>
                <br>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}